In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn import preprocessing 
import seaborn as sns

In [2]:
# Read in data
filepath = '/Users/maureenkeenan/Desktop/Kaggle/Titanic'
file_train = 'train.csv'
file_test = 'test.csv'
sample = pd.read_csv(os.path.join(filepath,file_train))
data = pd.read_csv(os.path.join(filepath,file_test))

In [3]:
import nbimporter
import DataCleanup as dc

dc.transform_features(sample)
dc.transform_features(data)

Importing Jupyter notebook from DataCleanup.ipynb

DataCleanup.ipynb:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "    for n in range(len(Surname)):\n",

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,TitleKey,Surname,Family
0,892,3,"Kelly, Mr. James",male,Young Adult,0,0,330911,First,N,Q,Mr,4,Kelly,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,Adult,1,0,363272,First,N,S,Mrs,2,Wilkes,1
2,894,2,"Myles, Mr. Thomas Francis",male,Senior,0,0,240276,Second,N,Q,Mr,4,Myles,1
3,895,3,"Wirz, Mr. Albert",male,Young Adult,0,0,315154,Second,N,S,Mr,4,Wirz,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,Young Adult,1,1,3101298,Second,N,S,Mrs,2,Hirvonen,1
5,897,3,"Svensson, Mr. Johan Cervin",male,Teenager,0,0,7538,Second,N,S,Mr,4,Svensson,1
6,898,3,"Connolly, Miss. Kate",female,Young Adult,0,0,330972,First,N,Q,Miss,3,Connolly,1
7,899,2,"Caldwell, Mr. Albert Francis",male,Young Adult,1,1,248738,Third,N,S,Mr,4,Caldwell,1
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,Teenager,0,0,2657,First,N,C,Mrs,2,Abrahim,1
9,901,3,"Davies, Mr. John Samuel",male,Young Adult,2,0,A/4 48871,Third,N,S,Mr,4,Davies,4
10,902,3,"Ilieff, Mr. Ylio",male,Unknown,0,0,349220,First,N,S,Mr,4,Ilieff,1
11,903,1,"Jones, Mr. Charles Cresson",male,Adult,0,0,694,Third,N,S,Mr,4,Jones,1
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,Young Adult,1,0,21228,Fourth,B,S,Mrs,2,Snyder,2
13,905,2,"Howard, Mr. Benjamin",male,Senior,1,0,24065,Third,N,S,Mr,4,Howard,3
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,Adult,1,0,W.E.P. 5734,Fourth,E,S,Mrs,2,Chaffee,1
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,Young Adult,1,0,SC/PARIS 2167,Third,N,C,Mrs,2,del Carlo,1
16,908,2,"Keane, Mr. Daniel",male,Young Adult,0,0,233734,Second,N,Q,Mr,4,Keane,1
17,909,3,"Assaf, Mr. Gerios",male,Young Adult,0,0,2692,First,N,C,Mr,4,Assaf,1
18,910,3,"Ilmakangas, Miss. Ida Livija",female,Young Adult,1,0,STON/O2. 3101270,First,N,S,Miss,3,Ilmakangas,1
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,Adult,0,0,2696,First,N,C,Mrs,2,Assaf Khalil,1
20,912,1,"Rothschild, Mr. Martin",male,Adult,1,0,PC 17603,Fourth,N,C,Mr,4,Rothschild,1
21,913,3,"Olsen, Master. Artur Karl",male,Child,0,1,C 17368,First,N,S,Master,5,Olsen,1
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,Unknown,0,0,PC 17598,Fourth,N,S,Mrs,2,Flegenheim,1
23,915,1,"Williams, Mr. Richard Norris II",male,Young Adult,0,1,PC 17597,Fourth,N,C,Mr,4,Williams,1
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,Adult,1,3,PC 17608,Fourth,B,C,Mrs,2,Ryerson,3
25,917,3,"Robins, Mr. Alexander A",male,Adult,1,0,A/5. 3337,Second,N,S,Mr,4,Robins,1
26,918,1,"Ostby, Miss. Helene Ragnhild",female,Young Adult,0,1,113509,Fourth,B,C,Miss,3,Ostby,1
27,919,3,"Daher, Mr. Shedid",male,Young Adult,0,0,2698,First,N,C,Mr,4,Daher,1
28,920,1,"Brady, Mr. John Bertram",male,Adult,0,0,113054,Third,A,S,Mr,4,Brady,1
29,921,3,"Samaan, Mr. Elias",male,Unknown,2,0,2662,Third,N,C,Mr,4,Samaan,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,Young Adult,0,0,364858,First,N,Q,Mr,4,Canavan,1
389,1281,3,"Palsson, Master. Paul Folke",child,Child,3,1,349909,Third,N,S,Master,5,Palsson,1
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,Young Adult,0,0,12749,Fourth,B,S,Mr,4,Payne,1
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,Adult,0,1,PC 17592,Fourth,D,S,Mrs,2,Lines,1
392,1284,3,"Abbott, Master. Eugene Joseph",male,Teenager,0,2,C.A. 2673,Third,N,S,Master,5,Abbott,1
393,1285,2,"Gilbert, Mr. William",male,Adult,0,0,C.A. 30769,Second,N,S,Mr,4,Gilbert,1
394,1286,3,"Kink-Heilmann, Mr. Anton",male,Young Adult,3,1,315153,Third,N,S,Mr,4,Kink-Heilmann,2
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,Teenager,1,0,13695,Fourth,C,S,Mrs,2,Smith,2
396,1288,3,"Colbert, Mr. Patrick",male,Young Adult,0,0,371109,First,N,Q,Mr,4,Colbert,1
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,Adult,1,1,13567,Fourth,B,C,Mrs,2,Frolicher-Stehli,1
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,Young Adult,0,0,347065,First,N,S,Mr,4,Larsson-Rondberg,1
399,1291,3,"Conlon, Mr. Thomas Henry",male,Young Adult,0,0,21332,First,N,Q,Mr,4,Conlon,1
400,1292,1,"Bonnell, Miss. Caroline",female,Young Adult,0,0,36928,Fourth,C,S,Miss,3,Bonnell,1
401,1293,2,"Gale, Mr. Harry",male,Adult,1,0,28664,Third,N,S,Mr,4,Gale,1
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,Young Adult,0,1,112378,Fourth,N,C,Miss,3,Gibson,2
403,1295,1,"Carrau, Mr. Jose Pedro",male,Teenager,0,0,113059,Fourth,N,S,Mr,4,Carrau,1
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,Adult,1,0,17765,Third,D,C,Mr,4,Frauenthal,1
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,Young Adult,0,0,SC/PARIS 2166,Second,D,C,Mr,4,Nourney,1
406,1298,2,"Ware, Mr. William Jeffery",male,Young Adult,1,0,28666,Second,N,S,Mr,4,Ware,4
407,1299,1,"Widener, Mr. George Dunton",male,Adult,1,1,113503,Fourth,C,C,Mr,4,Widener,2
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,Unknown,0,0,334915,First,N,Q,Miss,3,Riordan,1
409,1301,3,"Peacock, Miss. Treasteall",child,Child,1,1,SOTON/O.Q. 3101315,Second,N,S,Miss,3,Peacock,3
410,1302,3,"Naughton, Miss. Hannah",female,Unknown,0,0,365237,First,N,Q,Miss,3,Naughton,1
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,Adult,1,0,19928,Fourth,C,Q,Mrs,2,Minahan,1
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,Young Adult,0,0,347086,First,N,S,Miss,3,Henriksson,1
413,1305,3,"Spector, Mr. Woolf",male,Unknown,0,0,A.5. 3236,Second,N,S,Mr,4,Spector,1
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,Adult,0,0,PC 17758,Fourth,C,C,Dona,1,Oliva y Ocana,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,Adult,0,0,SOTON/O.Q. 3101262,First,N,S,Mr,4,Saether,1
416,1308,3,"Ware, Mr. Frederick",male,Unknown,0,0,359309,Second,N,S,Mr,4,Ware,4
417,1309,3,"Peter, Master. Michael J",male,Unknown,1,1,2668,Third,N,C,Master,5,Peter,1

In [4]:
# Do a quick subset of features
X = sample.drop(columns = ['Survived'])
y = sample.Survived

# Break off validation set from training data
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X,y,test_size = 0.2, random_state=0)

print(len(X_train))

712

In [5]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,TitleKey,Surname,Family
140,141,3,"Boulos, Mrs. Joseph (Sultana)",female,Unknown,0,2,2678,Third,N,C,Mrs,2,Boulos,3
439,440,2,"Kvillner, Mr. Johan Henrik Johannesson",male,Young Adult,0,0,C.A. 18723,Second,N,S,Mr,4,Kvillner,1
817,818,2,"Mallet, Mr. Albert",male,Young Adult,1,1,S.C./PARIS 2079,Fourth,N,C,Mr,4,Mallet,2
378,379,3,"Betros, Mr. Tannous",male,Young Adult,0,0,2648,First,N,C,Mr,4,Betros,1
491,492,3,"Windelov, Mr. Einar",male,Young Adult,0,0,SOTON/OQ 3101317,First,N,S,Mr,4,Windelov,1

In [6]:
dc.encode_features(X_train)
dc.encode_features(X_valid)

DataCleanup.ipynb:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "\n",

(     PassengerId  Pclass                                               Name  \
 495          496       3                              Yousseff, Mr. Gerious
 648          649       3                                 Willey, Mr. Edward
 278          279       3                                 Rice, Master. Eric
 31            32       1     Spencer, Mrs. William Augustus (Marie Eugenie)
 255          256       3            Touma, Mrs. Darwis (Hanne Youssef Razi)
 298          299       1                              Saalfeld, Mr. Adolphe
 609          610       1                          Shutes, Miss. Elizabeth W
 318          319       1                           Wick, Miss. Mary Natalie
 484          485       1                            Bishop, Mr. Dickinson H
 367          368       3                     Moussa, Mrs. (Mantoura Boulos)
 704          705       3                            Hansen, Mr. Henrik Juul
 346          347       2                          Smith, Miss. Marion Elsie
 196          197       3                                Mernagh, Mr. Robert
 535          536       2                             Hart, Miss. Eva Miriam
 310          311       1                     Hays, Miss. Margaret Bechstein
 14            15       3               Vestrom, Miss. Hulda Amanda Adolfina
 350          351       3                             Odahl, Mr. Nils Martin
 145          146       2                       Nicholls, Mr. Joseph Charles
 614          615       3                    Brocklebank, Mr. William Alfred
 803          804       3                    Thomas, Master. Assad Alexander
 144          145       2                         Andrew, Mr. Edgardo Samuel
 708          709       1                               Cleaver, Miss. Alice
 778          779       3                            Kilgannon, Mr. Thomas J
 270          271       1                              Cairns, Mr. Alexander
 474          475       3                        Strandberg, Miss. Ida Sofia
 319          320       1  Spedden, Mrs. Frederic Oakley (Margaretta Corn...
 519          520       3                                Pavlovic, Mr. Stefo
 141          142       3                           Nysten, Miss. Anna Sofia
 880          881       2       Shelley, Mrs. William (Imanita Parrish Hall)
 642          643       3                      Skoog, Miss. Margit Elizabeth
 ..           ...     ...                                                ...
 158          159       3                                Smiljanic, Mr. Mile
 62            63       1                        Harris, Mr. Henry Birkhardt
 79            80       3                           Dowdell, Miss. Elizabeth
 503          504       3                     Laitinen, Miss. Kristina Sofia
 231          232       3                           Larsson, Mr. Bengt Edvin
 389          390       2                              Lehmann, Miss. Bertha
 619          620       2                                Gavey, Mr. Lawrence
 362          363       3                    Barbara, Mrs. (Catherine David)
 570          571       2                                 Harris, Mr. George
 264          265       3                                 Henry, Miss. Delia
 644          645       3                             Baclini, Miss. Eugenie
 384          385       3                             Plotcharsky, Mr. Vasil
 762          763       3                              Barah, Mr. Hanna Assi
 513          514       1     Rothschild, Mrs. Martin (Elizabeth L. Barrett)
 85            86       3  Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
 352          353       3                                 Elias, Mr. Tannous
 75            76       3                            Moen, Mr. Sigurd Hansen
 631          632       3                        Lundahl, Mr. Johan Svensson
 395          396       3                                Johansson, Mr. Erik
 294          295       3                                   Mineff, Mr. Ivan
 500          501       3                                   Calic, Mr. Petar
 222          223       3                            Green, Mr. George Henry
 1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
 425          426       3                             Wiseman, Mr. Phillippe
 760          761       3                                 Garfirth, Mr. John
 780          781       3                               Ayoub, Miss. Banoura
 837          838       3                                Sirota, Mr. Maurice
 215          216       1                            Newell, Miss. Madeleine
 833          834       3                             Augustsson, Mr. Albert
 372          373       3                         Beavan, Mr. William Thomas

      Sex  Age  SibSp  Parch         Ticket  Fare  Cabin Embarked  Title  \
 495    2    4      0      0           2627     2      6        C      6
 648    2    4      0      0  S.O./P.P. 751     0      6        S      6
 278    0    1      4      1         382652     3      6        Q      4
 31     1    4      1      0       PC 17569     1      0        C      7
 255    1    5      0      2           2650     3      6        C      7
 298    2    4      0      0          19988     3      1        S      6
 609    1    0      0      0       PC 17582     1      1        S      5
 318    1    5      0      2          36928     1      1        S      5
 484    2    5      1      0          11967     1      0        C      6
 367    1    4      0      0           2626     0      6        C      7
 704    2    5      1      0         350025     0      6        S      6
 346    1    0      0      0          31418     2      6        S      5
 196    2    4      0      0         368703     0      6        Q      6
 535    0    1      0      2   F.C.C. 13529     3      6        S      5
 310    1    5      0      0          11767     1      1        C      5
 14     1    3      0      0         350406     0      6        S      5
 350    2    5      0      0           7267     2      6        S      6
 145    2    5      1      1     C.A. 33112     1      6        S      6
 614    2    5      0      0         364512     2      6        S      6
 803    0    1      0      1           2625     2      6        C      4
 144    2    3      0      0         231945     2      6        S      6
 708    1    5      0      0         113781     1      6        S      5
 778    2    4      0      0          36865     0      6        Q      6
 270    2    4      0      0         113798     3      6        S      6
 474    1    5      0      0           7553     2      6        S      5
 319    1    0      1      1          16966     1      3        C      7
 519    2    5      0      0         349242     0      6        S      6
 141    1    5      0      0         347081     0      6        S      5
 880    1    5      0      1         230433     3      6        S      7
 642    0    1      3      2         347088     3      6        S      5
 ..   ...  ...    ...    ...            ...   ...    ...      ...    ...
 158    2    4      0      0         315037     2      6        S      6
 62     2    0      1      0          36973     1      1        S      6
 79     1    5      0      0         364516     2      6        S      5
 503    1    0      0      0           4135     2      6        S      5
 231    2    5      0      0         347067     0      6        S      6
 389    1    3      0      0        SC 1748     2      6        C      5
 619    2    5      0      0          31028     2      6        S      6
 362    1    0      0      1           2691     2      6        C      7
 570    2    2      0      0    S.W./PP 752     2      6        S      6
 264    1    4      0      0         382649     0      6        Q      5
 644    0    1      2      1           2666     3      6        C      5
 384    2    4      0      0         349227     0      6        S      6
 762    2    5      0      0           2663     0      6        C      6
 513    1    0      1      0       PC 17603     1      6        C      7
 85     1    5      3      0        3101278     3      6        S      7
 352    2    3      1      1           2695     0      6        C      6
 75     2    5      0      0         348123     0      4        S      6
 631    2    0      0      0         347743     0      6        S      6
 395    2    5      0      0         350052     0      6        S      6
 294    2    5      0      0         349233     0      6        S      6
 500    2    3      0      0         315086     2      6        S      6
 222    2    0      0      0          21440     2      6        S      6
 1      1    0      1      0       PC 17599     1      1        C      7
 425    2    4      0      0     A/4. 34244     0      6        S      6
 760    2    4      0      0         358585     2      6        S      6
 780    1    3      0      0           2687     0      6        C      5
 837    2    4      0      0         392092     2      6        S      6
 215    1    5      1      0          35273     1      2        C      5
 833    2    5      0      0         347468     0      6        S      6
 372    2    5      0      0         323951     2      6        S      6

      TitleKey  Surname  Family
 495         4      166       1
 648         4      163       1
 278         5      123       5
 31          2      140       1
 255         2      153       1
 298         4      128       1
 609         3      131       1
 318         3      162       2
 484         4       17       2
 367         2      101       1
 704         4       55       3
 346         3      137       4
 196         4       94       1
 535         3       58       4
 310         3       61       2
 14          3      158       1
 350         4      109       1
 145         4      106       1
 614         4       21       1
 803         5      150       1
 144         4        4       1
 708         3       30       1
 778         4       76       1
 270         4       24       1
 474         3      146       1
 319         2      139       1
 519         4      113       1
 141         3      108       1
 880         2      130       1
 642         3      135       6
 ..        ...      ...     ...
 158         4      136       1
 62          4       57       4
 79          3       37       1
 503         3       80       1
 231         4       81       2
 389         3       83       1
 619         4       47       1
 362         2       12       2
 570         4       57       4
 264         3       63       1
 644         3        9       4
 384         4      118       1
 762         4       11       1
 513         2      125       1
 85          2        8       2
 352         4       40       3
 75          4       98       1
 631         4       88       1
 395         4       70       3
 294         4       97       1
 500         4       25       2
 222         4       50       1
 1           2       33       1
 425         4      164       1
 760         4       46       1
 780         3        7       1
 837         4      133       1
 215         3      105       3
 833         4        6       1
 372         4       15       1

 [179 rows x 15 columns],
 {0: 'Abbott',
  1: 'Ahlin',
  2: 'Ali',
  3: 'Andersson',
  4: 'Andrew',
  5: 'Astor',
  6: 'Augustsson',
  7: 'Ayoub',
  8: 'Backstrom',
  9: 'Baclini',
  10: 'Banfield',
  11: 'Barah',
  12: 'Barbara',
  13: 'Bateman',
  14: 'Baxter',
  15: 'Beavan',
  16: 'Bidois',
  17: 'Bishop',
  18: 'Bowerman',
  19: 'Braund',
  20: 'Brewe',
  21: 'Brocklebank',
  22: 'Bryhl',
  23: 'Butler',
  24: 'Cairns',
  25: 'Calic',
  26: 'Canavan',
  27: 'Cann',
  28: 'Carter',
  29: 'Chip',
  30: 'Cleaver',
  31: 'Collander',
  32: 'Coutts',
  33: 'Cumings',
  34: 'Cunningham',
  35: 'Davis',
  36: 'Dooley',
  37: 'Dowdell',
  38: 'Eitemiller',
  39: 'Eklund',
  40: 'Elias',
  41: 'Eustis',
  42: 'Foo',
  43: 'Fortune',
  44: 'Frolicher-Stehli',
  45: 'Fry',
  46: 'Garfirth',
  47: 'Gavey',
  48: 'Goodwin',
  49: 'Graham',
  50: 'Green',
  51: 'Greenfield',
  52: 'Haas',
  53: 'Hakkarainen',
  54: 'Hamalainen',
  55: 'Hansen',
  56: 'Harper',
  57: 'Harris',
  58: 'Hart',
  59: 'Hassab',
  60: 'Hawksford',
  61: 'Hays',
  62: 'Hegarty',
  63: 'Henry',
  64: 'Hickman',
  65: 'Hippach',
  66: 'Hold',
  67: 'Holm',
  68: 'Jensen',
  69: 'Johanson',
  70: 'Johansson',
  71: 'Johnson',
  72: 'Jussila',
  73: 'Kantor',
  74: 'Kent',
  75: 'Kiernan',
  76: 'Kilgannon',
  77: 'Klasen',
  78: 'Lahoud',
  79: 'Lahtinen',
  80: 'Laitinen',
  81: 'Larsson',
  82: 'Leader',
  83: 'Lehmann',
  84: 'Leitch',
  85: 'Lemore',
  86: 'Longley',
  87: 'Louch',
  88: 'Lundahl',
  89: 'Marechal',
  90: 'Matthews',
  91: 'McCoy',
  92: 'McKane',
  93: 'Meanwell',
  94: 'Mernagh',
  95: 'Meyer',
  96: 'Minahan',
  97: 'Mineff',
  98: 'Moen',
  99: 'Moran',
  100: 'Moraweck',
  101: 'Moussa',
  102: 'Moutal',
  103: 'Murphy',
  104: 'Navratil',
  105: 'Newell',
  106: 'Nicholls',
  107: 'Nicholson',
  108: 'Nysten',
  109: 'Odahl',
  110: 'Oreskovic',
  111: 'Palsson',
  112: 'Panula',
  113: 'Pavlovic',
  114: 'Penasco y Castellana',
  115: 'Pernot',
  116: 'Persson',
  117: 'Petroff',
  118: 'Plotcharsky',
  119: 'Quick',
  120: 'Radeff',
  121: 'Renouf',
  122: 'Reuchlin',
  123: 'Rice',
  124: 'Risien',
  125: 'Rothschild',
  126: 'Ryerson',
  127: 'Saad',
  128: 'Saalfeld',
  129: 'Sawyer',
  130: 'Shelley',
  131: 'Shutes',
  132: 'Sirayanian',
  133: 'Sirota',
  134: 'Sivic',
  135: 'Skoog',
  136: 'Smiljanic',
  137: 'Smith',
  138: 'Soholt',
  139: 'Spedden',
  140: 'Spencer',
  141: 'Stahelin-Maeglin',
  142: 'Stankovic',
  143: 'Stanley',
  144: 'Stead',
  145: 'Stoytcheff',
  146: 'Strandberg',
  147: 'Strom',
  148: 'Taussig',
  149: 'Taylor',
  150: 'Thomas',
  151: 'Toomey',
  152: 'Toufik',
  153: 'Touma',
  154: 'Trout',
  155: 'Turkula',
  156: 'Uruchurtu',
  157: 'Vande Walle',
  158: 'Vestrom',
  159: 'Webber',
  160: 'Weir',
  161: 'Wells',
  162: 'Wick',
  163: 'Willey',
  164: 'Wiseman',
  165: 'Woolner',
  166: 'Yousseff'})

In [10]:
# Define subfeatures
features_1 = ['Sex','Age','Pclass']
features_2 = ['Sex','Age','Pclass','SibSp','Parch']
features_3 = ['Sex','Age','Pclass','Family']
features_4 = ['Sex','Age','Pclass','SibSp','Parch','Fare']
features_5 = ['Sex','Age','Pclass','SibSp','Parch','Family','Fare','TitleKey']

features = [features_1, features_2, features_3, features_4, features_5]

In [11]:
# import the class
from sklearn import metrics
from xgboost import XGBClassifier
eval_set  = [( X_train, y_train), ( X_valid, y_valid)]
model = XGBClassifier(n_estimators=1000, learning_rate=0.05,early_stopping_rounds=5, 
             eval_set=eval_set)



for i in range(0, len(features)):
    model.fit(X_train[features[i]], y_train)
    y_pred = model.predict(X_valid[features[i]])
    
    # get stats
    f1 = metrics.f1_score(y_valid,y_pred, pos_label=1)
    cnf_matrix = metrics.confusion_matrix(y_valid, y_pred)
    print("Model ",i+1,"F1: ", f1.round(2), " CNF: \n", cnf_matrix)

Model  1 F1:  0.72  CNF:
 [[102   8]
 [ 26  43]]
Model  2 F1:  0.77  CNF:
 [[100  10]
 [ 20  49]]
Model  3 F1:  0.75  CNF:
 [[102   8]
 [ 23  46]]
Model  4 F1:  0.76  CNF:
 [[104   6]
 [ 23  46]]
Model  5 F1:  0.76  CNF:
 [[99 11]
 [20 49]]

In [19]:
eval_set  = [( X_train, y_train), ( X_valid, y_valid)]

rates = [0.01, 0.05, 0.1, 0.2, 0.5]
f1 = []
for i in range(0, len(rates)):
    print(rates[i])
    model = XGBClassifier(learning_rate = rates[i],n_estimators=750,early_stopping_rounds=10, 
             eval_set=eval_set)
    model.fit(X_train[features_5], y_train)
    y_pred = model.predict(X_valid[features_5])
    
    # get stats
    f1 = metrics.f1_score(y_valid,y_pred, pos_label=1)
    cnf_matrix = metrics.confusion_matrix(y_valid, y_pred)
    print("Model ",i+1,"F1: ", f1.round(2), " CNF: \n", cnf_matrix)

0.01
Model  1 F1:  0.76  CNF:
 [[97 13]
 [19 50]]
0.05
Model  2 F1:  0.76  CNF:
 [[99 11]
 [20 49]]
0.1
Model  3 F1:  0.76  CNF:
 [[100  10]
 [ 21  48]]
0.2
Model  4 F1:  0.77  CNF:
 [[99 11]
 [19 50]]
0.5
Model  5 F1:  0.77  CNF:
 [[97 13]
 [18 51]]

In [ ]:
# print("Accuracy:",metrics.accuracy_score(y_test, y_pred).round(2))
# print("Precision:",metrics.precision_score(y_test, y_pred).round(2))
# print("Recall:",metrics.recall_score(y_test, y_pred).round(2))

In [ ]:
differences = y_pred-y_test
FN = differences[differences == -1].index
#sample.iloc[FN,:]
FP = differences[differences == 1].index
#sample.iloc[FP,:]

In [ ]:
# Do this for the test set

#dc.transform_features(data)
dc.encode_features(data)
data.head()

In [ ]:
data_predict = data[features_5]
predictions = model.predict(data_predict)

In [ ]:
# Save into output file
ids = data['PassengerId']

output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })
output.to_csv('titanic-predictions_XGB.csv', index = False)
output.head()